.erc20, .erc20 label {
  background-color: #b2a3b5;
  color: #000;
}

.erc20, .erc20 h2 {
  color: #91818A;
}

.erc20 button.primary {
  background-color: #2b3e82;
  color: white;
}

.erc20 button.secondary {
  background-color: #151e3f;
  color: white;
}

.erc20 button.metamask {
  color: white;
}

.erc20 #results .token {
  background-color: #91818A;
  color: #151e3f;
}

/*  */

button.nftTab[aria-selected='true'], .nft, .nft label {
  background-color: #a44a3f;
  color: #000;
}

.nft, .nft h2 {
  color: #080f0f;
}

.nft button.primary {
  background-color: #B9D2B1;
  color: black;
}

.nft button.secondary {
  background-color: #a4bab7;
  color: black;
}

.nft button.metamask {
  color: white;
}

.nft #results .token {
  background-color: #080f0f;
  color: #a4bab7;
}
/*  */

#results img {
  max-width: 64px;
}

#results .token {
  border-radius: 13px;
  padding: 10px 20px;
  text-align: center;
  word-wrap: break-word;
}

#results .token .balance {
  word-break: break-all;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
