button.tokenTab[aria-selected='true'], .erc20, .erc20 h2, .erc20 label {
  background-color: #b2a3b5;
  color: #000;
}

.erc20 button.primary {
  background-color: #2b3e82;
  color: white;
}

.erc20 button.secondary {
  background-color: #151e3f;
  color: white;
}

#tokenResults .token {
  background-color: #91818A;
  color: #151e3f;
}

#tokenResults img {
  max-width: 64px;
}

/*  */

button.nftTab[aria-selected='true'], .nft, .nft h2, .nft label {
  background-color: #A4BAB7;
  color: #034732;
}

.nft button.primary {
  background-color: #008148;
  color: white;
}

.nft button.primary:hover {

  opacity: 0.9;
}

/* there is no secondary button */

.nft #nftResults .token {
  background-color: #613a3a;
  color: #f5f749;
}

#nftResults img {
  min-width: 15vw;
}

/*  */

button[aria-selected=true], button[data-selected] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}

button.metamask {
  background-color: darkOrange;
  color: white;
}

button.metamask:hover {
  background-color: darkOrange;
  color: #111;
}

.token {
  border-radius: 13px;
  padding: 10px 20px;
  text-align: center;
  word-wrap: break-word;
}

.token .balance {
  word-break: break-all;
}

.erc20, .nft {
  min-height: 100vh;
}

/* default styling below here */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
